<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1l">
                    <match url="^elgg/action\/([A-Za-z\_\-\/]+)$"  />
                    <action type="Rewrite" url="/elgg/engine/handlers/action_handler.php?action={R:1}"  />
                </rule>
                <rule name="rule 2l">
                    <match url="^elgg/actions\/([A-Za-z\_\-\/]+)$"  />
                    <action type="Rewrite" url="/elgg/engine/handlers/action_handler.php?action={R:1}"  />
                </rule>
                <rule name="rule 3l">
                    <match url="^elgg/export\/([A-Za-z]+)\/([0-9]+)$"  />
                    <action type="Rewrite" url="/elgg/services/export/handler.php?view={R:1}&amp;guid={R:2}"  />
                </rule>
                <rule name="rule 4l">
                    <match url="^elgg/export\/([A-Za-z]+)\/([0-9]+)\/$"  />
                    <action type="Rewrite" url="/elgg/services/export/handler.php?view={R:1}&amp;guid={R:2}"  />
                </rule>
                <rule name="rule 5l">
                    <match url="^elgg/export\/([A-Za-z]+)\/([0-9]+)\/([A-Za-z]+)\/([A-Za-z0-9\_]+)\/$"  />
                    <action type="Rewrite" url="/elgg/services/export/handler.php?view={R:1}&amp;guid={R:2}&amp;type={R:3}&amp;idname={R:4}"  />
                </rule>
                <rule name="rule 6l">
                    <match url="^elgg/\_css\/css\.css$"  />
                    <action type="Rewrite" url="/elgg/_css/css.php"  />
                </rule>
                <rule name="rule 7l">
                    <match url="^elgg/pg\/([A-Za-z\_\-]+)\/(.*)$"  />
                    <action type="Rewrite" url="/elgg/engine/handlers/pagehandler.php?handler={R:1}&amp;page={R:2}"  />
                </rule>
                <rule name="rule 8l">
                    <match url="^elgg/pg\/([A-Za-z\_\-]+)$"  />
                    <action type="Rewrite" url="/elgg/engine/handlers/pagehandler.php?handler={R:1}"  />
                </rule>
                <rule name="rule 9l">
                    <match url="elgg/xml-rpc.php"  />
                    <action type="Rewrite" url="/elgg/engine/handlers/xml-rpc_handler.php"  />
                </rule>
                <rule name="rule 10l">
                    <match url="elgg/mt/mt-xmlrpc.cgi"  />
                    <action type="Rewrite" url="/elgg/engine/handlers/xml-rpc_handler.php"  />
                </rule>

            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>