<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1G">
                    <match url="(^\.|/\.)"  />
                    <action type="Rewrite" url="/-"  />
                </rule>
                <rule name="rule 2G" stopProcessing="true">
                    <match url="^cache\/(.*)$"  />
                    <action type="Rewrite" url="/engine/handlers/cache_handler.php?request={R:1}&amp;%{QUERY_STRING}"  />
                </rule>
                <rule name="rule 3G" stopProcessing="true">
                    <match url="^export\/([A-Za-z]+)\/([0-9]+)\/?$"  />
                    <action type="Rewrite" url="/engine/handlers/export_handler.php?view={R:1}&amp;guid={R:2}"  />
                </rule>
                <rule name="rule 4G" stopProcessing="true">
                    <match url="^export\/([A-Za-z]+)\/([0-9]+)\/([A-Za-z]+)\/([A-Za-z0-9\_]+)\/$"  />
                    <action type="Rewrite" url="/engine/handlers/export_handler.php?view={R:1}&amp;guid={R:2}&amp;type={R:3}&amp;idname={R:4}"  />
                </rule>
                <rule name="rule 5G" stopProcessing="true">
                    <match url="^rewrite.php$"  />
                    <action type="Rewrite" url="/install.php"  />
                </rule>
                <rule name="rule 6G" stopProcessing="true">
                    <match url="^(.*)$"  />
                    <action type="Rewrite" url="/index.php?__elgg_uri={R:1}"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>